
<div id="tl_soverview">

    {% block messages %}
    <div id="tl_messages">
        <h2>{{ systemMessages|default('Alerts') }}</h2>
        {{ messages|default|raw }}
        <p>{{ loginMsg|default|raw }}</p>
    </div>
    {% endblock %}

    {% block shortcuts %}
    <div id="tl_shortcuts">
        <h2>{{ shortcuts|default }}</h2>
        <p>{{ shortcutsLink|default|raw }}</p>
    </div>
    {% endblock %}

    {% block versions %}
    <div id="tl_versions">
        <h2>{{ 'MSC.latestChanges'|trans({}, 'contao_default') }}</h2>
        {% if versions|default %}
        <table class="tl_listing">
            {% if columns|default %}
                <thead>
                <tr>
                {% for column in columns %}
                    <th>{{ column.label|default }}</th>
                {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for version in versions %}
                <tr class="{{ versions.class|default }} click2edit hover-row">
                    {% for column in version %}
                        <td>{{ column|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination|default|raw }}
        {% else %}
            {{ 'MSC.noVersions'|trans({}, 'contao_default') }}
        {% endif %}
    </div>
    {% endblock %}

</div>
